[Unit]
Description=Forward journald logs to Loggly
After=docker.service

[Service]
ExecStartPre=-/bin/mkdir -pv /opt/fxfitz/journald-forwarder
ExecStartPre=-/usr/bin/curl -L -o /opt/fxfitz/journald-forwarder/journald-forwarder https://github.com/fxfitz/journald-forwarder/releases/download/v0.3/journald-forwarder
ExecStartPre=-/bin/chmod +x /opt/fxfitz/journald-forwarder/journald-forwarder
ExecStart=/opt/fxfitz/journald-forwarder/journald-forwarder -token [token] -tag [tag]
